[Unit]
Description=Unix RPC connector service
After=network.target

[Service]
User=root
WorkingDirectory=<FILL THIS IN>
ExecStart=python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target